body{
    background-color: #545454;
}

*{
    margin: 0;
    padding: 0;
    border: none;
}
header{
    background-color: #fff;
    font-family: sans-serif;
    text-align: center;
    width: 100%;
}
main{
    width: 100%;
    margin-top: 60px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
main h2{
    margin-top: 23px;
    color: #fff;
    font-weight: bold;
    font-family: sans-serif;
}
main .game{
    display: grid;
    gap: 130px;
    grid-template-columns: 1fr 1fr 1fr;
}
main .game button{
    outline: none;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border:5px solid 33f7c6;
    background-color: #fff;
    cursor: pointer;
}
main .game button:hover{
	background: #dbdbdb;
}
main .scores{
    display: flex;
    justify-content: space-evenly;
    width: 60%;
    text-align: center;
}
main .scores .score{
    background-color: grey;
    border: 3px solid orange;
    color: #fff;
    font-weight: bold;
    font-family: sans-serif;
    padding: 13px;
    border-radius: 13px;
}
main .result{
    margin-top: 32px;
    display: flex;
    text-align: center;
    color: white;
    font-family: sans-serif;
}
main .result h1{
    margin: 42px 23px;
    color: red;
}
main .result p{
    margin-bottom: 10px;
    text-align: center;
    font-family: sans-serif;
    font-weight: bold;
}
main .result .img{
    background-color: grey;
    border: 4px solid blue;
    padding: 23px;
    border-radius: 10px;
}
main .result .img + .img {
    margin-left: 23px;
}
main .resultP{
    margin-top: 32px;
    color: #fff;
    font-weight: bold;
    font-family: sans-serif;
    background-color: grey;
    padding: 13px;
    border-radius: 13px;
    border:5px solid orange;
}
main label{
    margin-top: 33px;
    text-align: center;
}

footer{
    margin-top: 42px;
    text-align: center;
    width: 100%;
    color: #fff;
    font-weight: bold;
    font-family: sans-serif;
}
footer a{
    text-decoration: none;
    cursor: pointer;
    
}
